*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: palevioletred;
}

.container{
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
}

header{
    padding: 5px;
    margin-top: 5px ;
    background-color: purple;
}

h1{
    color: aliceblue;
    text-align: center;
    border: 3px solid palevioletred;
}
main{
    margin-top: 10px;
}
.picture img{
    display: block;
    margin: auto;
    width: 50%; /*vzdy pouzivej procenta je to lepsi zatim*/
    border-radius: 15px;
}

main h2{
    text-align: center;
    margin: 15px;
    color: aliceblue;
    font-size: 30px;
}

.lorem{
    background: purple;
    color: aliceblue;
    font-size: 15px;
    padding: 10px;
    border: 5px solid aqua;
}

